@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(90deg, rgba(14,14,94,1) 0%, rgba(8,39,116,1) 42%, rgba(14,79,62,1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dig-clock {
  position: relative;
  color: white;
  background: #2d2f41;
  width: 425px;
  padding: 20px 45px;
  box-shadow: 0 5px 25px rgba(14, 21 , 37, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .time {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hrs,.dots,.min {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0 10px;
  line-height: 125px;
}

.hrs,.min {
  font-size: 5em;
  width: 125px;
}

.dots {
  font-size: 4.5em;
  color: #929292;
}

.hrs {
  background: -webkit-linear-gradient(90deg, #634dff, #5fd4ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.min {
  background: -webkit-linear-gradient(90deg, #ff5e9a, #ffb960);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.right-side {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

.period, .sec {
  font-size: 1.2em;
  font-weight: 500;
}
.period {
  transform: translateY(-20px);
  background: -webkit-linear-gradient(90deg, #f7b634, #faf879);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.sec {
  transform: translateY(10px);
  background: -webkit-linear-gradient(90deg, #24ff6d, #2f93f1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}